<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <h1>Bienvenido al Menú</h1>
    <ul>
        <li><a href="{% url 'lista_eventos' %}">Lista de Eventos</a></li>
        <li><a href="{% url 'crear_evento' %}">Crear Evento</a></li>
        <li><a href="{% url 'lista_organizadores' %}">Lista de Organizadores</a></li>
        <li><a href="{% url 'crear_organizador' %}">Crear Organizador</a></li>
        <!-- <a href="{% url 'logout' %}">Cerrar sesión</a> -->
    </ul>
</body>
</html>
